table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

h1{
  text-align: center;
}

th, td{
  border: 1px solid;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background: lightgreen;
}
